footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $default-size;
    width: 90%;
  }

  .footer__link {
    margin-right: $default-size;
  }

  .footer__link--icons {
    height: 1.6 * $large-size;
    width: 1.6 * $large-size;
    fill: $purple;
  }

  .copyright__text {
    color: $purple;
    font-size: $default-size;
  }

  @media screen and (max-width: $phone-screen) {
    .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: $default-size;
    }

    .footer__links {
      margin-bottom: $large-size;
    }
  }
}
