header {
  display: flex;
  height: 3 * $large-size;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .branding {
    color: $highlight-text-color;
    font-size: $default-size;
    margin: $default-size $large-size $default-size $small-size;
    padding-left: $small-size;
  }

  nav {
    align-self: center;
    position: absolute;
    right: 100px;

    ul {
      list-style: none;

      li a {
        text-decoration: none;
      }

      .button {
        background-color: transparent;
        border: 1px solid $purple;
        border-radius: 5px;
        color: $purple;
        cursor: pointer;
        font-size: $default-size;
        padding: $small-size / 1.2 1.5 * $small-size;
        text-decoration: none;

        &:hover {
          background-color: $purple;
          color: $white;
        }
      }
    }
  }
}
