.theme-changer {
  margin: auto $large-size auto $large-size;
  .react-toggle-track {
    background-color: lighten($color: $main-background-dark-theme, $amount: 10);
  }

  .react-toggle-thumb {
    border-color: lighten($color: $main-background-dark-theme, $amount: 10);
  }
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: lighten($color: $main-background-dark-theme, $amount: 10);
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 2px 3px #764abc;
}

.toggle__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  position: absolute;
}