//colors
//  palette
$white: #ffffff;
$off-white: #e5e5e5;
$yellow: #fca311;
$blue: #14213d;
$black: #000000;
$purple: #764abc;

//  main
$main-background-dark-theme: #1f1f21;
$main-background-light-theme: $white;
$accent-color: #3c7aec;
$highlight-text-color: $purple;
$slider-color-dark: $blue;
$slider-color-light: #fdf6ff;
$text-color-light-theme: #161517;
$text-color-dark-theme: $off-white;

//sizes
$default-size: 1.6rem;
$large-size: 2rem;
$small-size: 1.2rem;

//breakpoints
$phone-screen: 640px;
