@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
#root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-width: 100%;
  margin: 0;
}

.light-mode {
  background-color: #FDF6FF;
  color: #161517;
}

.dark-mode {
  background-color: #0f0e10;
  color: #6c18cf;
}